{% extends "base.html" %}

{% load i18n static %}

{% block extracss %}<link href="{% static 'account/css/base.css' %}" rel="stylesheet">{% endblock extracss %}
{% block extrajs %}<script src="{% static 'account/js/base.js' %}"></script>{% endblock extrajs %}

{% block page %}
<div class="col-xs-12 col-sm-9">
<form class="form-horizontal" method="post" action="{% url 'jsxc:main' %}">{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
{{ form.username.formgroup }}
{{ form.password.formgroup }}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
      <a href="{% url "account:reset_password" %}">{% trans "Forgot your password?" %}</a>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">Sign in</button>
  </div>
</div>
</form>
</div>
{% endblock page %}
