*.mo
*.py[co]
*.sw[op]
/bin/
/build/
/data/
/doc/_build/
/fab.conf
/gnupg-keys/
/gnupg/
/hp/.gpg/
/hp/celerybeat-schedule
/hp/db.sqlite3
/hp/gpg-keys
/hp/hp/localsettings.py
/hp/http_upload/
/hp/static/
/include/
/lib/
/node_modules/
/pip-selfcheck.json
/share/
/src/
