Django==2.2.10
Pillow==6.1.0
bleach==3.1.0
celery==4.3.0
cryptography==2.7
django-composite-field==0.9.1
django-jsonfield==1.2.0
django-mptt==0.10.0
django-object-actions==1.1.0
django-redis==4.10.0
django-reversion==3.0.4
django-simple-captcha==0.5.12
#django-tinymce4-widget==2.1.1
django-tinymce4-lite==1.7.5
django-uwsgi==0.2.2
django-xmpp-http-upload==0.5.1
djangorestframework==3.10.2
dnspython==1.16.0
gpgliblib==0.2.0
hiredis==1.0.0
html5lib==1.0.1
lxml==4.4.0
pip>=18.1
pygpgme==0.3
requests==2.22.0
setuptools>=39.2.0
strict-rfc3339==0.7
ua-parser==0.8.0
xmpp-backends==0.7.0
git+https://github.com/mathiasertl/django-xmpp-software-overview.git#egg=django-xmpp-software-overview
