Django==1.10.1
Pillow==3.3.1
bleach==1.4.3
celery==3.1.23
django-composite-field==0.7.6
django-jsonfield==1.0.1
django-mptt==0.8.6
django-redis==4.5.0
django-simple-captcha==0.5.2
django-tinymce==2.4.0
django-xmpp-backends==0.1
django-xmpp-http-upload==0.4.1
dnspython==1.14.0
hiredis==0.2.0
lxml==3.6.4
pip>=8.1.2
pygpgme==0.3
setuptools>=26.0.0
strict-rfc3339==0.7
ua-parser==0.7.1
# not yet released
git+https://github.com/mathiasertl/gpg-mime.git
