Django==2.1.5
Pillow==5.4.1
bleach==3.1.0
celery==4.2.1
cryptography==2.4.2
django-composite-field==0.9.0
django-jsonfield==1.0.1
django-mptt==0.9.1
django-object-actions==1.0.0
django-redis==4.10.0
django-reversion==3.0.2
django-simple-captcha==0.5.9
#django-tinymce4-widget==2.1.1
django-tinymce4-lite==1.7.3
django-uwsgi==0.2.2
django-xmpp-http-upload==0.5.1
djangorestframework==3.9.0
dnspython==1.16.0
gpgliblib==0.2.0
hiredis==0.3.1
html5lib==1.0.1
lxml==4.3.0
pip>=18.1
pygpgme==0.3
requests==2.21.0
setuptools>=39.2.0
strict-rfc3339==0.7
ua-parser==0.8.0
xmpp-backends==0.7.0
