Fabric3==1.14.post1
Sphinx==1.7.1
fabric-webbuilders==0.3
flake8==3.5.0
freezegun==0.3.9
gnupg==2.3.1
ipython>=6.2.1
isort==4.3.4
numpydoc==0.7.0
pyflakes==1.6.0
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.2.4
