Fabric3==1.14.post1
Sphinx==2.1.2
django-debug-toolbar==2.0
fabric-webbuilders==0.3
flake8==3.7.8
freezegun==0.3.12
gnupg==2.3.1
ipython>=7.0.1
isort==4.3.21
numpydoc==0.9.1
pyflakes==2.1.1
pyvirtualdisplay==0.2.4
selenium==3.141.0
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.3
