{% load i18n %}<div class="form-row">
<div class="col-md-6 col-ld-8">
{% with widget=widget.subwidgets.0 %}
  {% include widget.template_name %}
{% endwith %}
</div>

<div class="col-md-6 col-ld-4">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>

    {% with widget=widget.subwidgets.1 %}
      {% include widget.template_name %}
    {% endwith %}
  </div>
</div>
</div>

<div class="valid-feedback">Looks good!</div>
<div class="invalid-feedback invalid-exists">
  {% trans "This username is already taken." %}
</div>
<div class="invalid-feedback invalid-syntax">
    {% trans "The username is invalid." %}
</div>
<div class="invalid-feedback invalid-error">
    {% trans "Could not check if the username already exists: Error communicating with the server." %}
</div>
