{% extends "core/include/card.html" %}
{% load i18n core blog %}

{% block title %}{% trans "Tools" %}{% endblock %}
{% block content %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="{% page_url 'faq' %}">{% trans "FAQs" %}</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'conversejs:main' %}">{% trans "Webchat" %}</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'xmpp-software-overview:clients' %}">{% trans "Clients" %}</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'certs:overview' %}">{% trans "Certificates" %}</a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'core:contact' %}">{% trans "Contact" %}</a>
    </li>
  </ul>
{% endblock %}
