{% extends "core/include/card.html" %}
{% load i18n static canonical %}

{% block blockcss %}follow-panel{% endblock %}

{% block title %}{% trans "Updates" %}{% endblock %}

{% block content %}
  <div class="card-body">{% trans "If you use our server, we strongly encourage you to stay up to date." %}</div>
  <ul class="list-group list-group-flush" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="{% canonical "blog:home" %}">
    {% if TWITTER_HANDLE %}
    <li class="list-group-item">
        <a href="https://twitter.com/{{ TWITTER_HANDLE }}" itemprop="sameAs">
            <img src="{% static "core/img/smtw.svg" %}" class="bullet"
                alt="{% blocktrans with brand=site.BRAND %}{{ brand }} on Twitter{% endblocktrans %}">
                    @{{ TWITTER_HANDLE }}
        </a>
    </li>
    {% endif %}
    {% if FACEBOOK_PAGE %}
    <li class="list-group-item">
        <a href="https://facebook.com/{{ FACEBOOK_PAGE }}" itemprop="sameAs">
            <img src="{% static "core/img/629hwmjt.svg" %}" class="bullet"
                alt="{% blocktrans with brand=site.BRAND %}{{ brand }} on Facebook{% endblocktrans %}">
            /{{ FACEBOOK_PAGE }}</a>
    </li>
    {% endif %}
    <li class="list-group-item">
        <a href="{% url "feed:rss2" language=LANGUAGE_CODE %}">
            <img src="{% static "core/img/rss.svg" %}" class="bullet"
                alt="{% blocktrans with brand=site.BRAND %}RSS feed for {{ brand }}{% endblocktrans %}">
            RSS feed
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url "feed:atom" language=LANGUAGE_CODE %}">
            <img src="{% static "core/img/rss.svg" %}" class="bullet"
                alt="{% blocktrans with brand=site.BRAND %}Atom feed for {{ brand }}{% endblocktrans %}">
            Atom feed</a>
    </li>
  </ul>
{% endblock %}
