{% extends "page.html" %}
{% load i18n staticfiles canonical %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block metatags %}
<link rel="canonical" href="{% canonical "core:home" %}" />
<meta name="description" content="{% blocktrans %}A free, stable, secure and feature-rich Jabber/XMPP server. Join the free and open Jabber instant messaging network today!{% endblocktrans %}">
{{ block.super }}
{% endblock metatags %}

{% block twitter %}
<meta name="twitter:title" content="{% trans "A free, secure, feature-rich Jabber/XMPP server" %}" />
<meta name="twitter:description" content="{% blocktrans %}A free, stable, secure and feature-rich Jabber/XMPP server. Join the free and open Jabber instant messaging network today!{% endblocktrans %}" />
{{ block.super }}
{% endblock twitter %}

{% block opengraph %}
{{ block.super }}
<meta property="og:updated_time" content="{{ object_list.0.updated|date:"c" }}" />
<meta property="og:url" content="{% canonical "core:home" %}" />
<meta property="og:title" content="{% trans "A free, secure, feature-rich Jabber/XMPP server" %}" />
<meta property="og:description" content="{% blocktrans %}A free, stable, secure and feature-rich Jabber/XMPP server. Join the free and open Jabber instant messaging network today!{% endblocktrans %}" />
{% endblock opengraph %}

{% block title %}{% trans "Free Jabber/XMPP server" %}{% endblock title %}

{% block content %}

{% with summary=True %}
    {% for post in object_list %}
        {% include "core/include/blogpost.html" %}
    {% endfor %}
{% endwith %}

{% if is_paginated %}
<nav aria-label="{% trans "Pager" %}" class="paginator">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li>
      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
    {% else %}
    <li class="disabled">
      <a href="#" aria-label="Previous">
    {% endif %}
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% if paginator.num_pages < 13 %}
        {% for pagenumber in paginator.page_range %}
        <li{% if pagenumber == page_obj.number %} class="active"{% endif %}>
            <a href="{{ request.path }}?page={{ pagenumber }}">{{ pagenumber }}</a>
        </li>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if page_obj.has_next %}
    <li>
      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
    {% else %}
    <li class="disabled">
      <a href="#" aria-label="Next">
    {% endif %}
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>{% endif %}


{% endblock content %}
