{% extends "page.html" %}
{% load i18n staticfiles render %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block extrahead %}
{% get_current_language as LANGUAGE_CODE %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ default_site.CANONICAL_BASE_URL }}{% url "feed:rss2" language=LANGUAGE_CODE %}">
{% endblock extrahead %}

{% block opengraph %}
<meta property="og:type" content="article">
{{ block.super }}
{% with object=post %}
{% include "core/include/basepage_extrahead.html" %}
{% endwith %}
{% if FACEBOOK_PAGE %}
<meta property="article:author" content="https://facebook.com/{{ FACEBOOK_PAGE }}">
<meta property="article:publisher" content="https://facebook.com/{{ FACEBOOK_PAGE }}">
{% endif %}
<meta property="article:modified_time" content="{{ object.updated|date:"c" }}">
<meta property="article:published_time" content="{{ object.created|date:"c" }}">
{% endblock opengraph %}

{% block title %}{{ post.title.current }}{% endblock title %}

{% block content %}
{% render post.text.current %}
{% endblock content %}
