{% extends "page.html" %}
{% load i18n staticfiles render %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block metatags %}
<meta name="description" content="{{ post.get_meta_summary }}">
{% endblock metatags %}

{% block opengraph %}
<meta property="og:type" content="article" />

{{ block.super }}

{% with object=post %}
{% include "core/include/basepage_extrahead.html" %}
{% endwith %}
{% if FACEBOOK_PAGE %}
<meta property="article:author" content="https://facebook.com/{{ FACEBOOK_PAGE }}" />
<meta property="article:publisher" content="https://facebook.com/{{ FACEBOOK_PAGE }}" />
{% endif %}
<meta property="article:modified_time" content="{{ post.updated|date:"c" }}" />
<meta property="article:published_time" content="{{ post.created|date:"c" }}" />
{% endblock opengraph %}

{% block twitter %}
{{ block.super }}
<meta name="twitter:title" content="{{ post.title.current }}" />
<meta name="twitter:description" content="{{ post.get_twitter_summary }}" />
{% endblock twitter %}

{% block title %}{{ post.title.current }}{% endblock title %}

{% block content %}
{% render post %}
{% endblock content %}
