{% extends "page.html" %}
{% load i18n staticfiles render %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block extrahead %}
{% get_current_language as LANGUAGE_CODE %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ default_site.PRIMARY_URL }}{% url "feed:rss2" language=LANGUAGE_CODE %}">
{% endblock extrahead %}

{% block title %}{{ post.title.current }}{% endblock title %}

{% block content %}
{% render post.text.current %}
{% endblock content %}
