{% extends "page.html" %}
{% load i18n staticfiles canonical %}

{% block title %}{% trans "Recommended clients" %}{% endblock title %}

{% block extracss %}
<link href="{% static 'core/css/clients.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block extrajs %}
<script src="{% static 'core/js/clients.js' %}"></script>
{% endblock extrajs %}

{% block content %}

{% blocktrans with hostname=site.BRAND %}Jabber is an open protocol and anyone may develop a client for it. This
means there are many different clients to connect to {{ hostname }}.{% endblocktrans %}

<h2>{% trans "So what's the best client?" %}</h2>

<p>{% trans "Here is what we have found works best:" %}</p>

<ul>
    <li>{% blocktrans %}Android: <a href="https://conversations.im/">Conversations</a> (€ 2,39 on
<a href="https://play.google.com/store/apps/details?id=eu.siacs.conversations">Google Play</a> 
or free on 
<a href="https://f-droid.org/repository/browse/?fdfilter=conversations&fdid=eu.siacs.conversations">F-Droid</a>){% endblocktrans %}
    </li>
    <li>{% trans 'iOS (iPhone): <a href="https://chatsecure.org/">ChatSecure</a> (in the <a href="https://itunes.apple.com/us/app/chatsecure/id464200063">App Store</a>)' %}</li>
    <li>{% trans 'Linux: <a href="https://gajim.org/">Gajim</a>' %}</li>
    <li>{% trans 'Linux (console): <a href="https://mcabber.com/">mcabber</a> or <a href="http://profanity.im/">Profanity</a>' %}</li>
    <li>{% trans 'macOS (Mac OS X): <a href="https://adium.im/">Adium</a>' %}</li>
    <li>{% trans 'Web (in the Browser): <a href="https://conversejs.org/">Converse.js</a>' %}</li>
    <li>{% trans 'Windows: <a href="https://gajim.org/">Gajim</a>' %}</li>
</ul>

<h2>{% trans "Can you be more specific?" %}</h2>

{% trans "Sure we can:" %}

<form id="clients-form" class="form-horizontal">
    {{ form.os.formgroup }}
</form>

<div class="table-responsive">
<table id="clients-table" class="table table-bordered">
<tr class="header-row">
    <th rowspan="2" class="two-rows">Client</th>
    <th class="xep-wrapper" colspan="9">XEP</th>
    <th rowspan="2" class="two-rows">Notes</th>
</tr>
<tr class="header-row">
    <th>
        <a href="http://xmpp.org/extensions/xep-0027.html">0027</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0027: Current Jabber OpenPGP Usage" %}"></span>
    </th>
    <th>
        <a href="http://xmpp.org/extensions/xep-0167.html">0167</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0167: Jingle RTP Sessions" %}"></span>
    </th>
    <th>
        <a href="http://xmpp.org/extensions/xep-0198.html">0198</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0198: Stream Management" %}"></span>
    </th>
    <th>
        <a href="http://xmpp.org/extensions/xep-0280.html">0280</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0280: Message Carbons" %}"></span>
    </th>
    <th>
        <a href="http://xmpp.org/extensions/xep-0313.html">0313</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0313: Message Archive Management" %}"></span>
    </th>
    <th class="mobile">
        <a href="http://xmpp.org/extensions/xep-0352.html">0352</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0352: Client State Indication" %}"></span>
    </th>
    <th class="mobile">
        <a href="http://xmpp.org/extensions/xep-0357.html">0357</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0357: Push Notifications" %}"></span>
    </th>
    <th>
        <a href="http://xmpp.org/extensions/xep-0363.html">0363</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0363: HTTP File Upload" %}"></span>
    </th>
    {% comment %}Omemo client progress: https://omemo.top/ {% endcomment %}
    <th>
        <a href="https://xmpp.org/extensions/xep-0384.html">0384</a>
        <span class="footnote" data-toggle="tooltip", title="{% trans "XEP-0384: OMEMO Encryption" %}"></span>
    </th>
</tr>
<tr class="osx">
    <th><a href="https://adium.im/">Adium</a></th>
    <td class="xep xep0027">{{u}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{u}}</td>
    <td class="xep xep0280">{{y}}</td>{% comment %}According to zash.se list{% endcomment %}
    <td class="xep xep0313">{{u}}</td>
    <td class="xep xep0352 mobile">{{u}}</td>
    <td class="xep xep0357 mobile">{{u}}</td>
    <td class="xep xep0363">{{u}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</tr>
<tr class="ios">
    <th><a href="https://chatsecure.org/">ChatSecure</a></th>
    <td class="xep xep0027">{{u}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{u}}</td>
    <td class="xep xep0280">{{u}}</td>
    <td class="xep xep0313">{{u}}</td>
    <td class="xep xep0352 mobile">{{y}}</td>{% comment %}Mentioned in changelog for 3.2.3{% endcomment %}
    <td class="xep xep0357 mobile">{{y}}</td>{% comment %}https://chatsecure.org/blog/chatsecure-v323-xmpp-push/{% endcomment %}
    <td class="xep xep0363">{{u}}</td>
    <td class="xep xep0384">{{y}}</td>{% comment %}According to https://omemo.top/{% endcomment %}
    <td></td>
</tr>
<tr class="android">
    {% comment %}https://github.com/siacs/Conversations/blob/master/docs/XEPs.md{% endcomment %}
    <th><a href="https://conversations.im/">Conversations</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="1.14.6" %}version {{ version }}{% endblocktrans %}"></span>
    <td class="xep xep0027">{{y}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{y}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{y}}</td>
    <td class="xep xep0352 mobile">{{y}}</td>
    <td class="xep xep0357 mobile">{{y}}</td>
    <td class="xep xep0363">{{y}}</td>
    <td class="xep xep0384">{{y}}</td>
    <td>on <a href="https://f-droid.org/repository/browse/?fdfilter=conversations&fdid=eu.siacs.conversations">Google play</a> (€ 2,39), on <a href="https://f-droid.org/repository/browse/?fdfilter=conversations&fdid=eu.siacs.conversations">F-Droid</a> (free)</td>
</tr>
<tr class="browser">
    <th><a href="https://conversejs.org/">Converse.js</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="2.0.6" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{n}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{n}}</td>{% comment %}https://github.com/jcbrand/converse.js/issues/316{% endcomment %}
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{y}}</td>
    <td class="xep xep0352 mobile">{{y}}</td>
    <td class="xep xep0357 mobile">{{u}}</td>
    <td class="xep xep0363">{{n}}</td>{% comment %}https://github.com/jcbrand/converse.js/issues/466{% endcomment %}
    <td class="xep xep0384">{{n}}</td>{% comment %}https://github.com/jcbrand/converse.js/issues/497{% endcomment %}
    <td></td>
</tr>
<tr class="win linux">
    <th><a href="https://gajim.org/">Gajim</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="0.16.7" %}version {{ version }}{% endblocktrans %}"></span>
    <td class="xep xep0027">{{y}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{y}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{y}}</td>
    <td class="xep xep0352 mobile">{{n}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{y}}
        <span class='footnote' data-toggle="tooltip" title='{% trans 'With <a href="https://trac-plugins.gajim.org/wiki/HttpUploadPlugin">Plugin</a>' %}'></span>
    </td>
    <td class="xep xep0384">{{y}}<span class='footnote' data-toggle="tooltip" title='{% trans 'With <a href="https://github.com/omemo/gajim-omemo">Plugin</a>' %}'></span></td>
    <td></td>
</tr>
<tr class="win linux osx">
    {% comment %}https://github.com/jitsi/jitsi/issues/298{% endcomment %}
    <th><a href="https://jitsi.org/">Jitsi</a></th>
    <td class="xep xep0027">{{n}}</td>
    <td class="xep xep0167">{{y}}</td>
    <td class="xep xep0198">{{n}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{n}}</td>{% comment %}https://github.com/jitsi/jitsi/issues/205{% endcomment %}
    <td class="xep xep0352 mobile">{{n}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td>{% trans "Good for voice/video calls" %}</td>
</tr>
<tr class="browser">
    {% comment %}https://www.jsxc.org/features.html{% endcomment %}
    <th><a href="https://www.jsxc.org/">JSXC</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="3.0.1" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{n}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{n}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{n}}</td>
    <td class="xep xep0352 mobile">{{n}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>{% comment %}WIP: https://github.com/jsxc/jsxc/pull/352{% endcomment %}
    <td class="xep xep0384">{{n}}</td>
    <td>{% trans "You have to host your own instance." %}</td>
</tr>
<tr class="linux console">
    <th><a href="https://mcabber.com/">mcabber</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="1.0.5" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{y}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{n}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{n}}</td>
    <td class="xep xep0352 mobile">{{n}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</tr>
<tr class="osx ios">
    {% comment %}https://github.com/anurodhp/Monal/issues/54{% endcomment %}
    <th><a href="https://monal.im/">Monal</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="2.9.2" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    </th>
    <td class="xep xep0027">{{u}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{y}}</td>{% comment %}According to zash.se list{% endcomment %}
    <td class="xep xep0280">{{y}}</td>{% comment %}According to zash.se list{% endcomment %}
    <td class="xep xep0313">{{y}}</td>{% comment %}Mentioned in Changelog for 2.9.1{% endcomment %}
    <td class="xep xep0352 mobile">{{y}}</td>
    <td class="xep xep0357 mobile">
        {{n}}
        <span class="footnote" data-toggle="tooltip", title='{% trans 'See <a href="https://github.com/anurodhp/Monal/issues/5">github issue</a>' %}'></span>
    </td>
    <td class="xep xep0363">{{y}}</td>{% comment %}https://github.com/anurodhp/Monal/issues/1{% endcomment %}
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</tr>
<tr class="win linux">
    {% comment %}incomplete list: https://developer.pidgin.im/wiki/SupportedXEPs{% endcomment %}
    <th><a href="http://pidgin.im/">Pidgin</a></th>
    <td class="xep xep0027">
        {{y}}
        <span class="footnote" data-toggle="tooltip", title='{% trans 'With <a href="https://github.com/segler-alex/Pidgin-GPG">Plugin</a>' %}'></span>
    </td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{n}}</td>{% comment %}https://developer.pidgin.im/ticket/14252{% endcomment %}
    <td class="xep xep0280">{{n}}</td>{% comment %}https://developer.pidgin.im/ticket/15508{% endcomment %}
    <td class="xep xep0313">{{n}}</td>{% comment %}https://developer.pidgin.im/ticket/15653{% endcomment %}
    <td class="xep xep0352 mobile">{{u}}</td>
    <td class="xep xep0357 mobile">{{u}}</td>
    <td class="xep xep0363">{{u}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</tr>
<tr class="linux console">
    {% comment %}https://doc.poez.io/0.10/dev/xep.html{% endcomment %}
    <th><a href="http://poez.io/en/">poezio</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="0.10" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{y}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{y}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{n}}</td>
    <td class="xep xep0352 mobile">{{y}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</tr>
<tr class="linux console">
    <th><a href="http://profanity.im/">Profanity</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="0.5.1" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{y}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{n}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{n}}</td>
    <td class="xep xep0352 mobile">{{n}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{y}}</td>
    <td class="xep xep0384">
        {{y}}
        <span class='footnote' data-toggle="tooltip" title='{% trans 'With <a href="https://github.com/ReneVolution/profanity-omemo-plugin">Plugin</a>' %}'></span>
    </td>
    <td></td>
</tr>
<tr class="win linux osx">
    <th><a href="https://swift.im/swift.html">Swift</a></th>
    <td class="xep xep0027">{{n}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{y}}</td>{% comment %}According to Holger{% endcomment %}
    <td class="xep xep0280">{{y}}</td>{% comment %}According to Holger{% endcomment %}
    <td class="xep xep0313">{{n}}</td>
    <td class="xep xep0352 mobile">{{n}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</tr>
<tr class="android">
    {% comment %}https://github.com/redsolution/xabber-android#supported-protocols{% endcomment %}
    <th><a href="https://www.xabber.com/">Xabber</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="1.0.74" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{n}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{n}}</td>
    <td class="xep xep0280">{{n}}</td>
    <td class="xep xep0313">{{n}}</td>
    <td class="xep xep0352 mobile">{{y}}</td>
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td>on <a href="https://play.google.com/store/apps/details?id=com.xabber.android.beta">Google play</a>,
        on <a href="https://f-droid.org/repository/browse/?fdfilter=xabber&fdid=com.xabber.androiddev">F-Droid</a></td>
</tr>
<tr class="android">
    {% comment %}http://yaxim.org/features/{% endcomment %}
    <th><a href="http://yaxim.org/">yaxim</a>
        <span class="footnote" data-toggle="tooltip", title="{% blocktrans with version="0.9.0" %}version {{ version }}{% endblocktrans %}"></span>
    </th>
    <td class="xep xep0027">{{n}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{y}}</td>
    <td class="xep xep0280">{{y}}</td>
    <td class="xep xep0313">{{n}}</td>{% comment %}see: https://github.com/pfleidi/yaxim/issues/98{% endcomment %}
    <td class="xep xep0352 mobile">{{n}}</td>{% comment %}"almost" according to 0.9.0 changelog{% endcomment %}
    <td class="xep xep0357 mobile">{{n}}</td>
    <td class="xep xep0363">{{n}}</td>{% comment %}see: https://github.com/pfleidi/yaxim/issues/196{% endcomment %}
    <td class="xep xep0384">{{n}}</td>{% comment %}see: https://github.com/pfleidi/yaxim/issues/197{% endcomment %}
    <td></td>
</tr>
<tr class="ios android">
    <th><a href="https://zom.im/">Zom</a></th>
    <td class="xep xep0027">{{u}}</td>
    <td class="xep xep0167">{{n}}</td>
    <td class="xep xep0198">{{u}}</td>
    <td class="xep xep0280">{{u}}</td>
    <td class="xep xep0313">{{u}}</td>
    <td class="xep xep0352 mobile">{{u}}</td>
    <td class="xep xep0357 mobile">{{u}}</td>
    <td class="xep xep0363">{{u}}</td>
    <td class="xep xep0384">{{n}}</td>
    <td></td>
</table>
</div>

<div class="alert alert-info client-contact">
{% url "core:contact" as contact_url %}
{% blocktrans with url=contact_url %}Feel information on this page is missing or out of date? Please just <a href="{{ url }}">contact
us</a>.{% endblocktrans %}</div>
<p>{% blocktrans %}
You can also find other lists of clients on <a href="http://xmpp.org/software/clients.shtml">xmpp.org</a>,
<a href="http://en.wikipedia.org/wiki/List_of_XMPP_client_software">Wikipedia</a>, on
<a href="https://www.zash.se/xmpp-clients.html">zash.se</a>, or, in French, at
<a href="https://wiki.jabberfr.org/Clients">jabberfr.org</a>.{% endblocktrans %}

{% endblock content %}
