{% extends "page.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans "Clients" %}{% endblock title %}

{% block extracss %}
<link href="{% static 'core/css/clients.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block extrajs %}
<script src="{% static 'core/js/clients.js' %}"></script>
{% endblock extrajs %}

{% block content %}

<div class="alert alert-danger"><strong>This is just a demo-page so far. It contains no real info!</strong></div>

{% blocktrans with hostname=site.BRAND %}Jabber is an open protocol and anyone may develop a client for it. This
means there are many different clients to connect to {{ hostname }}.{% endblocktrans %}

<h2>{% trans "So what's the best client?" %}</h2>

<p>{% blocktrans %}Naturally, there are many different opinions on that subject, depending on
personal preference and what set of features is particularly important to you.
For example, one client may offer better support for file transfers, while
another one might work best for Voice/Video calls.{% endblocktrans %}</p>

<p>{% trans "That being said, here is what we have found works best:" %}</p>

<p><small>(Note: we could highlight the users platform and put it first? Also:
    Nice-looking logos for each platform?)</small></p>

<ul>
    <li>Windows: Gajim</li>
    <li>Linux: Gajim</li>
    <li>Android: Conversations</li>
    <li>...</li>
</ul>

<h2>{% trans "Can you be more specific?" %}</h2>

<p><small>(Note: We could preselect the users OS here, and table below is completely made up data)</small></p>

{% trans "Sure we can:" %}

<form id="clients-form" class="form-horizontal">
    <div class="form-group">
        {{ form.os.formgroup }}
    </div>
</form>

<p><small>(Note: Maybe a second selector with something like "Good for filetransfer", "good for Voice/Video",
"Good end-to-end encryption", ...?)</small></p>

<table id="clients-table" class="table table-bordered">
<tr class="header-row">
    <th rowspan="2" class="two-rows">Client</th>
    <th colspan="5">XEP</th>
    <th rowspan="2" class="two-rows">Notes</th>
</tr>
<tr class="header-row">
    <th><a href="http://xmpp.org/extensions/xep-0045.html">0045</a></th>
    <th><a href="http://xmpp.org/extensions/xep-0280.html">0280</a></th>
    <th><a href="http://xmpp.org/extensions/xep-0313.html">0313</a></th>
    <th><a href="http://xmpp.org/extensions/xep-0363.html">0363</a></th>
    <th><a href="http://xmpp.org/extensions/xep-0364.html">0364</a></th>
</tr>
<tr class="osx">
    <th>Adium</th>
    <td>{{y}}</td><td>{{n}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td>
    <td></td>
</tr>
<tr class="ios android">
    <th>ChatSecure</th>
    <td>{{y}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td>
    <td>bla</td>
</tr>
<tr class="android">
    <th>Conversations</th>
    <td>{{y}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td>
    <td>whatever</td>
</tr>
<tr class="win linux">
    <th>Gajim</th>
    <td>{{y}}</td><td>{{n}}</td><td>{{y}}</td><td>{{n}}</td><td>{{y}}</td>
    <td>Ur super</td>
</tr>
<tr class="win linux osx">
    <th>Jitsi</th>
    <td>{{n}}</td><td>{{n}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td>
    <td>lorem ipsum</td>
</tr>
<tr class="linux">
    <th>mcabber</th>
    <td>{{n}}</td><td>{{n}}</td><td>{{n}}</td><td>{{n}}</td><td>{{y}}</td>
    <td>wuhu</td>
</tr>
<tr class="win linux">
    <th>Pidgin</th>
    <td>{{y}}</td><td>{{n}}</td><td>{{y}}</td><td>{{y}}</td><td>{{y}}</td>
    <td>irgendein text</td>
</tr>
<tr class="linux">
    <th>Profanity</th>
    <td>{{n}}</td><td>{{n}}</td><td>{{n}}</td><td>{{n}}</td><td>{{y}}</td>
    <td>Oida!</td>
</tr>
</table>

<div class="alert alert-info">{% blocktrans %}
If you want to request add a client or notify us of an update on supported XEPs,
please contact us.{% endblocktrans %}</div>

{% endblock content %}
