{% extends "page.html" %}
{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock title %}

{% block content %}
<form class="form-horizontal" method="post" action="{% url 'core:contact' %}">{% csrf_token %}
{% if not request.user.is_authenticated %}
{{ form.email.formgroup }}
{% endif %}
{{ form.subject.formgroup }}
{{ form.text.formgroup }}
{% if not request.user.is_authenticated %}
{{ form.captcha.formgroup }}
{% endif %}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">{% trans "Send" %}</button>
  </div>
</div>
</form>
{% endblock content %}
