{% extends "page.html" %}
{% load i18n canonical %}

{% block title %}{% trans "Contact" %}{% endblock title %}

{% block content %}
{% if form.is_valid %}
<div class="alert alert-success" role="alert">
    <p><strong>{% trans "Thank you for contacting us." %}</strong></p>
    <p>{% trans "We will get back to you as soon as possible." %}
{% if user.is_authenticated %}
{% trans "You should have received a copy of your message in your email inbox." %}{% endif %}</p>
</div>
{% else %}
{% if CONTACT_MUC %}
<p>{% blocktrans %}The best way to contact us is to join our chatroom at
<a href="xmpp:{{ CONTACT_MUC }}">{{ CONTACT_MUC}}</a>.{% endblocktrans %}</p>
{% endif %}

<p>{% blocktrans %}If you have trouble registering or connecting, use this form and we will
get back to you. Please try to be as specific as possible to describe your
problem: What exactly have you done that led to your issue? If you get an
error message, what does it say and where exactly do you see it? What
client are you using? ...and so on.{% endblocktrans %}</p>

<form class="form-horizontal" method="post" action="{% url 'core:contact' %}">{% csrf_token %}
{% if not request.user.is_authenticated %}
{{ form.email.formgroup }}
{% endif %}
{{ form.subject.formgroup }}
{{ form.text.formgroup }}
{% if not request.user.is_authenticated %}
{{ form.captcha.formgroup }}
{% endif %}
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default">{% trans "Send" %}</button>
  </div>
</div>
</form>
{% endif %}
{% endblock content %}
