{% extends "base.html" %}

Base template for user setting views when the user is logged in.

{% load i18n static %}

{% block extracss %}<link href="{% static 'account/css/base.css' %}" rel="stylesheet">{% endblock extracss %}
{% block extrajs %}<script src="{% static 'account/js/base.js' %}"></script>{% endblock extrajs %}

{% block row-classes %} row-offcanvas row-offcanvas-left user-menu{% endblock %}
{% block page %}
<div class="col-xs-6 col-md-4 col-lg-3 sidebar-offcanvas" id="sidebar">
  <div class="list-group">
    <a class="list-group-item header">{% trans "User settings" %}</a>
    {% for item in usermenu %}
    <a href="{{ item.path }}" class="list-group-item{{item.active}}">{{ item.title }}</a>
    {% endfor %}
  </div>
</div>

<div class="col-xs-6 col-md-8 col-lg-9">
  {% if not user.created_in_backend %}
  <div class="alert alert-warning" role="alert">
    <h4>{% trans "Your account is not yet confirmed!" %}</h4>
    {% blocktrans with email=user.email %}You have not yet confirmed your email address. Your account registration is
not complete until you have. We just sent you an email to {{ email }}, click
on the link in it and give us a password to complete the registration.{% endblocktrans %}
  </div>
  {% endif %}

  <div class="page-header">
    <h1>
      <p class="pull-left d-block d-md-none show-button">
        <button type="button" class="btn btn-primary btn-s" data-toggle="offcanvas">
          <span class="show">{% trans "Show menu" %}</span>
          <span class="hide">{% trans "Hide menu" %}</span>
        </button>
      </p>
      {% block title %}{% endblock title %}
    </h1>

  </div>
{% include "core/include/messages.html" %}
{% block content %}{% endblock content %}
</div>
{% endblock page %}
