{% extends "account/base.html" %}
{% load i18n core bootstrap staticfiles %}

{% block title %}{% trans "Current sessions" %}{% endblock title %}

{% block content %}
<p>{% blocktrans %}This page lists your current Jabber/XMPP connections. If any connection
looks suspicious to you, you can stop the session from here with a click on
the trash icon.{% endblocktrans %}

{% if sessions %}
<div class="table-responsive"><table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "IP" %}</th>
            <th>{% trans "Resource" %}</th>
            <th>{% trans "Started" %}</th>
            <th></th>
        </tr>
    </thead>
{% for session in sessions %}
    <tr>
        <td>{{ session.ip }}</td>
        <td>{{ session.resource }}</td>
        <td class="nowrap">{{ session.started|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>
            <span class="sr-only">{% trans "Stop connection" %}</span>
            <span class="glyphicon glyphicon-trash glyph-button hover-danger" 
                  data-url="{% url 'account:api-stop-user-session' resource=session.resource %}"
                  data-action="remove-row" data-type="DELETE"
                  title="{% trans 'Delete key' %}" aria-hidden="true"></span>
        </td>
    </tr>
{% endfor %}
    </table></div>
{% else %}
{% trans "You are currently not online with any client." %}
{% endif %}
{% endblock content %}
