{% extends "account/base.html" %}
{% load i18n core bootstrap staticfiles %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'account/js/sessions.js' %}"></script>
{% endblock extrajs %}

{% block extracss %}
{{ block.super }}
<link href="{% static 'account/css/sessions.css' %}" rel="stylesheet">
{% endblock extracss %}

{% block title %}{% trans "Current sessions" %}{% endblock title %}

{% block content %}
<p>{% blocktrans %}This page lists your current Jabber/XMPP connections. If any connection
looks suspicious to you, you can stop the session from here with a click on
the trash icon.{% endblocktrans %}

{% if sessions %}
<table class="table">
    <tr>
        <th>{% trans "IP" %}</th>
        <th>{% trans "Resource" %}</th>
        <th>{% trans "Started" %}</th>
        <th></th>
    </tr>
{% for session in sessions %}
    <tr>
        <td>{{ session.ip }}</td>
        <td>{{ session.resource }}</td>
        <td>{{ session.started|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td class="delete" data-delete-url="{% url "account:api-stop-user-session" resource=session.resource %}">{% glyph "trash" %}</td>
    </tr>
{% endfor %}
</table>
{% else %}
{% trans "You are currently not online with any client." %}
{% endif %}
{% endblock content %}
