{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Recent activity" %}{% endblock title %}
{% block content %}
<table class="table table-bordered">
    <tr>
        <th>{% trans "IP" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Action" %}</th>
    </tr>
{% for entry in object.logs %}
    <tr>
        <td>{{ entry.address }}</td>
        <td>{{ entry.created|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ entry.message }}</tr>
    </tr>
{% endfor %}
</table>
{% endblock content %}
