{% extends "account/form-base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock title %}
{% block form %}
{% if form.is_valid %}
<div class="alert alert-success" role="alert">
    <p><strong>{% trans "Please check your email inbox!" %}</strong></p>
    <p>{% blocktrans %}We just sent you an email containing a link where you can reset your password.{% endblocktrans %}</p>
</div>
{% else %}
<form enctype="multipart/form-data" class="form-horizontal" action="" method="post">{% csrf_token %}
{{ form.username.formgroup }}
{{ form.captcha.formgroup }}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</div>
</form>
{% endif %}
{% endblock form %}
