{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "GPG keys" %}{% endblock title %}

{% block content %}

{% url "account:add_gpg" as add_url %}
{% url "account:notifications" as notifications_url %}
<p>{% blocktrans %}This page lists the GPG keys you have configured for your account. The keys are
used for encrypting password reset emails and other important <a 
href="{{ notifications_url }}">notifications</a>.{% endblocktrans %}</p>

<p>{% blocktrans %}
Keys will be refreshed from the public keyservers before they expire. If your key is not on the
keyservers and you want to manually update it, simply upload the file as if you uploaded a new key.
You can manually <span class="glyphicon glyphicon-refresh"></span> refresh a key from the
keyservers in the table below.{% endblocktrans %}</p>

{% with keys=object.gpg_keys.all %}
    {% if keys %}
        <div class="table-responsive"><table class="table">
            <tr>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Expires" %}</th>
                <th>{% trans "Fingerprint" %}</th>
                <th></th>
            </tr>
        {% for key in keys %}
            <tr>
                <td class="nowrap">{{ key.created|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td class="nowrap">{{ key.expires|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td>0x{{ key.fingerprint }}</td>
                <td class="nowrap">
                    <span class="sr-only">{% trans "Refresh key from keyserver" %}</span>
                    <span class="glyphicon glyphicon-refresh glyph-pointer hover-primary" 
                          data-url="{% url 'account:manage_gpg' pk=key.pk %}"
                          data-action="notification"
                          title="{% trans 'Refresh key from keyserver' %}" aria-hidden="true"></span>
                    <span class="sr-only">{% trans "Delete key" %}</span>
                    <span class="glyphicon glyphicon-remove glyph-pointer hover-danger" 
                          data-url="{% url 'account:manage_gpg' pk=key.pk %}"
                          data-action="remove-row" data-type="DELETE"
                          title="{% trans 'Delete key' %}" aria-hidden="true"></span>
                </td>
            </tr>
        {% endfor %}
        </table></div>
        <p><a class="btn btn-primary" href="{% url 'account:add_gpg' %}">
        {% trans '<span class="glyphicon glyphicon-plus"></span> Add another GPG key' %}
        </a></p>
    {% else %}
        <p>{% trans "You have no configured GPG keys." %}</p>
        <p><a class="btn btn-primary" href="{% url 'account:add_gpg' %}">
            {% trans '<span class="glyphicon glyphicon-plus"></span> Add a GPG key' %}
        </a></p>
    {% endif %}
{% endwith %}
{% endblock content %}
