{% extends "account/form-base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock title %}
{% block form %}
<form enctype="multipart/form-data" class="form-horizontal" action="" method="post">{% csrf_token %}
{{ form.password.formgroup }}
{{ form.password2.formgroup }}
{{ form.captcha.formgroup }}

<div class="row">
  <div class="col-sm-10 offset-sm-2">
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
  </div>
</div>
</form>
{% endblock form %}
