{% extends "account/base.html" %}
{% load i18n icons %}

{% block title %}{% trans "GPG keys" %}{% endblock title %}

{% block content %}

{% url "account:add_gpg" as add_url %}
{% url "account:notifications" as notifications_url %}
<p>{% blocktrans %}This page lists the GPG keys you have configured for your account. The keys
are used for encrypting password reset emails and other important <a 
href="{{ notifications_url }}">notifications</a>.{% endblocktrans %}</p>

{% icon_add as add_icon %}
{% icon_reload as reload_icon %}
<p>{% blocktrans %}Keys will be refreshed from the public keyservers before they expire. If
your key is not on the keyservers and you want to manually update it,
simply upload the file as if you uploaded a new key.  You can manually
{{ reload_icon }} refresh a key from the
keyservers in the table below.{% endblocktrans %}</p>

{% with keys=object.gpg_keys.all %}
  {% if keys %}
    <table class="table table-hover table-responsive table-sm">
      <thead>
        <tr>
          <th class="d-none d-lg-table-cell">{% trans "Created" %}</th>
          <th>{% trans "Expires" %}</th>
          <th>{% trans "Fingerprint" %}</th>
          <th></th>
        </tr>
      </thead>
    {% for key in keys %}
    <tr>
      <td class="nowrap d-none d-lg-table-cell">{{ key.created|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td class="nowrap">{{ key.expires|date:"SHORT_DATETIME_FORMAT" }}</td>
      <td>0x{{ key.fingerprint }}</td>
      <td class="nowrap">
        {% url 'account:manage_gpg' pk=key.pk as mgmt_url %}
        {% button_reload action='notification' url=mgmt_url title=_("Refresh key from keyserver") %}
        {% button_delete action='remove-row' url=mgmt_url title=_("Delete this key") %}
      </td>
    </tr>
    {% endfor %}
    </table>
    <p><a class="btn btn-primary" href="{% url 'account:add_gpg' %}">
      {% blocktrans %}{{ add_icon }} Add another GPG key{% endblocktrans %}
    </a></p>
  {% else %}
    <p>{% trans "You have no configured GPG keys." %}</p>
    <p><a class="btn btn-primary" href="{% url 'account:add_gpg' %}">
      {% blocktrans %}{{ add_icon }} Add a GPG key{% endblocktrans %}
    </a></p>
  {% endif %}
{% endwith %}
{% endblock content %}
