{% extends "account/base.html" %}
{% load i18n icons %}

{% block title %}{% trans "Set new email address" %}{% endblock title %}

{% block content %}
<form enctype="multipart/form-data" class="form-horizontal" action="" method="post">{% csrf_token %}
    {{ form.email.formgroup }}

    {% with uses_gpg=user.uses_gpg %}
    {% if form.show_gpg %}
    <div class="row gpg-header-row show-gpg{% if form.hide_gpg_content and not uses_gpg %} hidden-with-js{% endif %}">
      <div class="col-sm-12">
          <h4>
              {% icon_unfolded %}
              {% icon_folded %}
              {% trans "GPG options" %}
          </h4>
      </div>
    </div>

      {% include "account/include/gpg_form.html" %}
    {% endif %}
    {% endwith %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
{% endblock content %}
