{% extends "account/base.html" %}
{% load i18n core %}

{% block title %}{% trans "Recent activity" %}{% endblock title %}
{% block content %}

<p>{% blocktrans with delta=logentry_expires|format_timedelta %}This page shows any recent activity for your account. This information is 
useful if you suspect someone is trying to take over your account. The log
entries are removed after {{ delta }}.{% endblocktrans %}
</p>

<p>{% blocktrans %}Please note that this log only includes activity on this homepage. Failed
login attempts on the Jabber/XMPP server itself will not show up here.{% endblocktrans %}</p>

{% if object.logs %}
<table class="table table-bordered">
    <tr>
        <th>{% trans "IP" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Action" %}</th>
    </tr>
{% for entry in object.logs %}
    <tr>
        <td>{% if entry.address %}{{ entry.address }}{% else %}-{% endif %}</td>
        <td>{{ entry.created|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ entry.localized }}</tr>
    </tr>
{% endfor %}
</table>
{% else %}
    <p><strong>{% trans "No recent log entries found." %}</strong></p>
{% endif %}
{% endblock content %}
