{% extends "account/form-base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock title %}

{% block form %}
{% if form.errors %}
<div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
{% endif %}

{% if next %}<p>{% trans "Please login to see this page." %}</p>{% endif %}

<form class="form-horizontal needs-validation" method="post" action="{% url 'account:login' %}">{% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}" />
  {{ form.username.formgroup }}
  {{ form.password.formgroup }}
  {{ form.captcha.formgroup }}
  <div class="row mb-3">
    <div class="{{ form.get_offset_columns }}">
      <a href="{% url "account:reset_password" %}">{% trans "Forgot your password?" %}</a>
    </div>
  </div>
  {{ form.buttons }}
</form>
{% endblock form %}
