{% extends "account/base.html" %}
{% load i18n %}

{% block usercontent %}
<div class="page-header"><h1>{{ object.username }}</h1></div>

<table class="table table-bordered">
    <tr>
        <td>{% trans "Registered" %}</td>
        <td>{{ object.registered }}</td>
    </tr>
    <tr>
        <td>{% trans "Email address" %}</td>
        <td>{{ object.email }} (<a href="{% url "account:set_email" %}">change</a>)</td>
    </tr>
    <tr class="{% if object.confirmed %}success{% else %}danger{% endif %}">
        <td>{% trans "Email confirmed" %}</td>
        <td>{% if object.confirmed %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
    </tr>
</table>

<h2>{% trans "Recent activity" %}</h2>
<table class="table table-bordered">
    <tr>
        <th>{% trans "IP" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Action" %}</th>
    </tr>
{% for entry in object.logs %}
    <tr>
        <td>{{ entry.address }}</td>
        <td>{{ entry.created|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ entry.message }}</tr>
    </tr>
{% endfor %}
</table>
{% endblock usercontent %}
