{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{{ object.username }}{% endblock title %}

{% block content %}
<div class="table-responsive"><table class="table table-hover">
    <tr>
        <td>{% trans "Registered" %}</td>
        <td>{{ object.registered }}</td>
    </tr>
    <tr{% if not object.email %} class="danger"{% endif %}>
        <td>{% trans "Email address" %}</td>
        <td>
            {% if object.email %}
                {{ object.email }} (<a href="{% url "account:set_email" %}">{% trans "change" %}</a>)
            {% else %}
                <a href="{% url "account:set_email" %}">{% trans "Not set" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr class="{% if object.confirmed %}success{% else %}danger{% endif %}">
        <td>{% trans "Email confirmed" %}</td>
        <td>{% if object.confirmed %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
    </tr>
</table></div>

{% include "account/include/user_detail_help.html" %}

{% endblock content %}
