{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Set new email address" %}{% endblock title %}

{% block content %}
<form enctype="multipart/form-data" class="form-horizontal" action="" method="post">{% csrf_token %}
    {{ form.email.formgroup }}

    {% with user.uses_gpg as uses_gpg %}
    <div class="row gpg-header-row{% if form.show_gpg or uses_gpg%} show-gpg{% endif %}">
    <div class="col-sm-12">
        <h4>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            {% trans "GPG options" %}
        </h4>
    </div>
    </div>

    {% include "account/include/gpg_form.html" %}
    {% endwith %}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
{% endblock content %}
