{% extends "account/form-base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock title %}
{% block form %}
{% if form.is_valid %}
<div class="alert alert-success" role="alert">
    <p><strong>{% trans "Please check your email inbox!" %}</strong></p>
    <p>{% blocktrans %}We just sent you an email containing a link where you can reset your password.{% endblocktrans %}</p>
</div>
{% else %}
<p>{% trans "If you have forgotten your password, please give us your username and we will send you a link where you can reset your password." %}</p>
<form enctype="multipart/form-data" class="form-horizontal needs-validation" action="" method="post">{% csrf_token %}
  {{ form.username.formgroup }}
  {{ form.captcha.formgroup }}
  {{ form.buttons }}
</form>
{% endif %}
{% endblock form %}
