{% extends "account/base.html" %}
{% load i18n core static icons %}

{% block title %}{% trans "HTTP uploads" %}{% endblock title %}

{% block content %}
<p>{% blocktrans %}This page lists files you have shared with other users using 
<a href="http://xmpp.org/extensions/xep-0363.html">XEP-0363: HTTP File Upload</a>.{% endblocktrans %}</p>

<p>{% blocktrans %}There are many ways your client might choose to share files with other
users or in multi user chatrooms. Clients that use XEP-0363 upload files to
this homepage, which enables us to list them here. Some methods directly
transfer files to the other client, so there is no way we can list them here.{% endblocktrans %}</p>

<div class="alert alert-info">{% blocktrans %}<strong>Note:</strong> Some clients (most notably conversations)
encrypt files before they are uploaded, so viewing them via the links below
is not possible in the browser.{% endblocktrans %}</div>

{% if can_upload is False %}
<div class="alert alert-danger">{% blocktrans %}<strong>Warning:</strong> You have exceeded your quota for uploading files.
You cannot upload new files until old uploads expire and are automatically
deleted. You can view your current upload limits below.{% endblocktrans %}</div>{% endif %}

{% if uploads %}
<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th>{% trans "Created" %}</th>
        <th>{% trans "File" %}</th>
        <th></th>
    </tr>
    </thead>
{% for upload in uploads %}
    <tr>
        <td>{{ upload.created|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td><a href="{{ upload.file.url }}">
                {{ upload.name }}</a> ({{ upload.size|filesizeformat}})
        </td>
        <td>
            {% url "account:api-xep0363-delete" pk=upload.pk as action_url %}
            {% button_delete action='remove-row' url=action_url title=_("Delete this file") %}
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
{% trans "There are currently no file uploads." %}
{% endif %}

<h3>{% trans "Upload limits" %}</h3>

<p>{% blocktrans %}Your current upload limits are shown below. This includes uploads where the
client requested an upload but did not actually upload a file. These
uploads should expire within a few minutes.{% endblocktrans %}</p>

{% if limits is False %}
    {% trans "You are not allowed to upload any files." %}
{% elif limits == 'no-limits' %}
    {% trans "You have no limits for uploading files." %}
{% else %}
<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th>{% trans "Kind" %}</th>
        <th>{% trans "Limit" %}</th>
        <th>{% trans "Current" %}</th>
    </tr>
    </thead>
    {% for limit in limits %}
    <tr{% if limit.exceeded %} class="text-danger"{% endif %}>
        <td>{{ limit.header }}</td>
        <td>{{ limit.value }}</td>
        <td>
            {% if limit.current %}
                {% blocktrans with current=limit.current left=limit.left %}{{ current }} ({{ left }} left){% endblocktrans %}
            {% else %}
                {% trans "n/a" %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock content %}
