{% extends "account/base.html" %}
{% load i18n core bootstrap staticfiles %}

{% block title %}{% trans "HTTP uploads" %}{% endblock title %}

{% block content %}
<p>{% blocktrans %}This page lists files you have shared with other users using 
<a href="http://xmpp.org/extensions/xep-0363.html">XEP-0363: HTTP File Upload</a>.{% endblocktrans %}</p>

<p>{% blocktrans %}There are many ways your client might choose to share files with other
users or in multi user chatrooms. Clients that use XEP-0363 upload files to
this homepage, which enables us to list them here. Some methods directly
transfer files to the other client, so there is no way we can list them here.{% endblocktrans %}</p>

<div class="alert alert-info">{% blocktrans %}<strong>Note:</strong> Some clients (most notably conversations)
encrypt files before they are uploaded, so viewing them via the links below
is not possible in the browser.{% endblocktrans %}</div>

{% if uploads %}
<div class="table-responsive">
<table class="table">
    <tr>
        <th>{% trans "Created" %}</th>
        <th>{% trans "File" %}</th>
        <th></th>
    </tr>
{% for upload in uploads %}
    <tr>
        <td>{{ upload.created|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td><a href="{{ upload.file.url }}">
                {{ upload.name }}</a> ({{ upload.size|format_filesize}})
        </td>
        <td>
            <span class="sr-only">{% trans "Delete this file" %}</span>
            <span class="glyphicon glyphicon-remove glyph-pointer hover-danger" 
                  data-url="{% url "account:api-xep0363-delete" pk=upload.pk %}"
                  data-action="remove-row" data-type="DELETE"
                  title="{% trans 'Delete this file' %}" aria-hidden="true"></span>
        </td>
    </tr>
{% endfor %}
</table>
</div>
{% else %}
{% trans "There are currently no file uploads." %}
{% endif %}
{% endblock content %}
