table#certificate-id-table td.cert-id-label {
    white-space: nowrap;
}

table#certificate-id-table pre {
    white-space: pre-wrap;
    word-break: break-word;
}

form#cert-selection {
    margin-left: 20px;
}
