{% extends "base.html" %}

{% load i18n static %}


{% block pagecss %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static "lib/converse.js/css/converse.css" %}">
{#<link rel="stylesheet" type="text/css" media="screen" href="{% static "conversejs/init.css" %}"> #}
{% endblock pagecss %}

{% block pagejs %}
<script src="{% static "lib/converse.js/dist/converse.js" %}"></script>
<script src="{% url "conversejs:init-js" %}"></script>
{% endblock pagejs %}

{% block title %}{% trans "Webchat" %}{% endblock title %}

{% block page %}
<div class="col-12">
    <div class="page-header"><h1>{% trans "Webchat" %}</h1></div>
    <p>{% blocktrans %}Welcome to our still <strong>very experimental</strong> Webchat.{% endblocktrans %}</p>

    {% if user.is_anonymous %}
    <p>{% blocktrans with brand=site.NAME %}Use your JID (user@{{ brand }}) as XMPP username.{% endblocktrans %}</p>
    {% else %}
    <p>{% blocktrans with jid=user %}Use your JID ({{ jid }}) as XMPP username.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock page %}
