{% extends "page.html" %}
{% load i18n static core render icons %}


{% block pagecss %}
<link href="{% static 'certs/certificate.css' %}" rel="stylesheet">
{% endblock %}

{% block pagejs %}
<script src="{% static 'certs/certificate.js' %}"></script>
{% endblock %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}{% blocktrans with domain=cert.hostname %}Certificate for {{ domain }}{% endblocktrans %}{% endblock title %}

{% block content %}
{% url "certs:overview" as overview_url %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ overview_url }}">{% trans "Certificates" %}</a></li>
  {% if cert_id %}
    <li class="breadcrumb-item"><a href="{% url "certs:certs" hostname=cert.hostname %}">{{ cert.hostname }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ cert.valid_from|date:"SHORT_DATE_FORMAT" }}</li>
  {% else %}
    <li class="breadcrumb-item active" aria-current="page">{{ cert.hostname }}</li>
  {% endif %}
  </ol>
</nav>

{% if not is_current %}
<div class="alert alert-info" role="alert">
  <strong>{% icon_warning %} {% trans "Note:" %}</strong>
  {% url "certs:certs" hostname=hostname as current_url %}
  {% blocktrans with url=current_url %}This certificate is not currently used. <a class="alert-link" href="{{ url }}">View the current certificate</a>.{% endblocktrans %}
</div>
{% endif %}

<p>
{% if is_current %}
{% blocktrans with hostname=cert.hostname valid_from=cert.valid_from|date:"SHORT_DATE_FORMAT" valid_until=cert.valid_until|date:"SHORT_DATE_FORMAT" %}This is the certificate currently used for {{ hostname }}. It is used since {{ valid_from }} and is valid until {{ valid_until }}, but it is usually replaced by a new certificate some time before that. You can view certificates for our other domains <a href="{{ overview_url }}">here</a>.{% endblocktrans %}
{% else %}
{% blocktrans with hostname=cert.hostname valid_from=cert.valid_from|date:"SHORT_DATE_FORMAT" valid_until=cert.valid_until|date:"SHORT_DATE_FORMAT" %}This certificate was used by {{ hostname }} between {{ valid_from }} and {{ valid_until }}. You can view certificates for our other domains <a href="{{ overview_url }}">here</a>.{% endblocktrans %}
{% endif %}
</p>


<p>
{% trans "You can also view other certificates used at different times:" %}
</p>

<form id="cert-selection" action="{% url "certs:certs" hostname=hostname %}" method="post" class="mb-3">
    {% csrf_token %}
    {{ form.certificate.formgroup }}

    <div class="col-sm-2 submit-row">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>

{% url "certs:cert-view" date=cert.valid_from hostname=cert.hostname as download_url %}
<p>
{% blocktrans %}If you want to view the full certificate, you can download it <a href="{{ download_url }}">here</a>. The certificate uses the following identifiers:{% endblocktrans %}
</p>

<table class="table" id="certificate-id-table">
  <tr>
    <td class="cert-id-label">{% trans "Serial" %}</td>
    <td><pre>{{ cert.serial|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "MD5" %}</td>
    <td><pre>{{ cert.md5|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "SHA-1" %}</td>
    <td><pre>{{ cert.sha1|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "SHA-256" %}</td>
    <td><pre>{{ cert.sha256|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "SHA-512" %}</td>
    <td><pre>{{ cert.sha512|wordbreak:":" }}</pre></td>
  </tr>
</table>
{% endblock content%}
