{% extends "page.html" %}
{% load i18n staticfiles render %}


{% block pagecss %}
<link href="{% static 'certs/certificate.css' %}" rel="stylesheet">
{% endblock %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}{% blocktrans with domain=cert.hostname %}Certificate for {{ domain }}{% endblocktrans %}{% endblock title %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url "certs:overview" %}">{% trans "Certificates" %}</a></li>
{% if cert_id %}
  <li><a href="{% url "certs:certs" hostname=cert.hostname %}">{{ cert.hostname }}</a></li>
  <li class="active">{{ cert.valid_from|date:"SHORT_DATE_FORMAT" }}</li>
{% else %}
  <li class="active">{{ cert.hostname }}</li>
{% endif %}
</ol>

{% if not is_current %}
<div class="alert alert-info" role="alert">
  <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "Note:" %}</strong>
  {% url "certs:certs" hostname=hostname as current_url %}
  {% blocktrans with url=current_url %}This certificate is not currently used. <a class="alert-link" href="{{ url }}">View the current certificate</a>.{% endblocktrans %}
</div>
{% endif %}

<p>
{% trans "View an older certificate:" %}
<form action="{% url "certs:certs" hostname=hostname %}" method="post">
    {% csrf_token %}
    {{ form.certificate.formgroup }}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
      </div>
    </div>
</form>
<p>

<p>{% blocktrans with domain=cert.hostname date=cert.valid_until|date:"SHORT_DATE_FORMAT" %}The certificate currently used for {{ domain }} is valid until {{ date }}.{% endblocktrans%}
</p>
<p>{% trans "It uses the following identifiers:" %}</p>
<table class="table" id="certificate-id-table">
  <tr>
    <td>{% trans "Serial" %}</td>
    <td><pre>{{ cert.serial }}</pre></td>
  </tr>
  <tr>
    <td>{% trans "MD5" %}</td>
    <td><pre>{{ cert.md5 }}</pre></td>
  </tr>
  <tr>
    <td>{% trans "SHA-1" %}</td>
    <td><pre>{{ cert.sha1 }}</pre></td>
  </tr>
  <tr>
    <td>{% trans "SHA-256" %}</td>
    <td><pre>{{ cert.sha256 }}</pre></td>
  </tr>
  <tr>
    <td>{% trans "SHA-512" %}</td>
    <td><pre>{{ cert.sha512 }}</pre></td>
  </tr>
</table>
{% endblock content%}
