{% extends "page.html" %}
{% load i18n static render %}


{% block pagecss %}
<link href="{% static 'certs/certificate.css' %}" rel="stylesheet">
{% endblock %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}{% trans "Certificate overview" %}{% endblock title %}

{% block content %}

<table class="table table-bordered table-hover">
  <tr>
    <th>{% trans "Hostname" %}</th>
    <th>{% trans "Valid since" %}</th>
    <th>{% trans "Valid until" %}</th>
  </tr>
  {% for cert in object_list %}
  <tr {% if not cert.is_valid %}class="warning"{% endif %}>
    <td><a href="{% url "certs:certs" hostname=cert.hostname %}">{{ cert.hostname }}</a></td>
    <td>{{ cert.valid_from }}</td>
    <td>{{ cert.valid_until }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock content%}
