{% extends "page.html" %}
{% load i18n staticfiles core render %}


{% block pagecss %}
<link href="{% static 'certs/certificate.css' %}" rel="stylesheet">
{% endblock %}

{% block pagejs %}
<script src="{% static 'certs/certificate.js' %}"></script>
{% endblock %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}{% blocktrans with domain=cert.hostname %}Certificate for {{ domain }}{% endblocktrans %}{% endblock title %}

{% block content %}
{% url "certs:overview" as overview_url %}
<ol class="breadcrumb">
  <li><a href="{{ overview_url }}">{% trans "Certificates" %}</a></li>
{% if cert_id %}
  <li><a href="{% url "certs:certs" hostname=cert.hostname %}">{{ cert.hostname }}</a></li>
  <li class="active">{{ cert.valid_from|date:"SHORT_DATE_FORMAT" }}</li>
{% else %}
  <li class="active">{{ cert.hostname }}</li>
{% endif %}
</ol>

{% if not is_current %}
<div class="alert alert-info" role="alert">
  <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {% trans "Note:" %}</strong>
  {% url "certs:certs" hostname=hostname as current_url %}
  {% blocktrans with url=current_url %}This certificate is not currently used. <a class="alert-link" href="{{ url }}">View the current certificate</a>.{% endblocktrans %}
</div>
{% endif %}

<p>
{% if is_current %}
{% blocktrans with hostname=cert.hostname valid_from=cert.valid_from|date:"SHORT_DATE_FORMAT" valid_until=cert.valid_until|date:"SHORT_DATE_FORMAT" %}This is the certificate currently used for {{ hostname }}. It is used since {{ valid_from }} and is valid until {{ valid_until }}, but it is usually replaced by a new certificate some time before that. You can view certificates for our other domains <a href="{{ overview_url }}">here</a>.{% endblocktrans %}
{% else %}
{% blocktrans with hostname=cert.hostname valid_from=cert.valid_from|date:"SHORT_DATE_FORMAT" valid_until=cert.valid_until|date:"SHORT_DATE_FORMAT" %}This certificate was used by {{ hostname }} between {{ valid_from }} and {{ valid_until }}. You can view certificates for our other domains <a href="{{ overview_url }}">here</a>.{% endblocktrans %}
{% endif %}
</p>


<p>
{% trans "You can also view other certificates used at different times:" %}
</p>

<div class="row">
<form id="cert-selection" action="{% url "certs:certs" hostname=hostname %}" method="post">
    {% csrf_token %}
    {{ form.certificate.formgroup }}

    <div class="col-sm-2 submit-row">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
</div>

{% url "certs:cert-view" date=cert.valid_from hostname=cert.hostname as download_url %}
<p>
{% blocktrans %}If you want to view the full certificate, you can download it <a href="{{ download_url }}">here</a>. The certificate uses the following identifiers:{% endblocktrans %}
</p>

<table class="table" id="certificate-id-table">
  <tr>
    <td class="cert-id-label">{% trans "Serial" %}</td>
    <td><pre>{{ cert.serial|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "MD5" %}</td>
    <td><pre>{{ cert.md5|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "SHA-1" %}</td>
    <td><pre>{{ cert.sha1|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "SHA-256" %}</td>
    <td><pre>{{ cert.sha256|wordbreak:":" }}</pre></td>
  </tr>
  <tr>
    <td class="cert-id-label">{% trans "SHA-512" %}</td>
    <td><pre>{{ cert.sha512|wordbreak:":" }}</pre></td>
  </tr>
</table>
{% endblock content%}
