{% load i18n %}
<div class="gpg-content{% if form.show_gpg or uses_gpg %} show-gpg{% endif %}">
    <div class="row"><div class="col-sm-12">
        <div class="help-block"><p>
            {% blocktrans with domain=site.NAME %}You can add a GPG key to have {{ domain }} encrypt all emails sent to you.{% endblocktrans %}</p>
            <div class="alert alert-warning" role="alert">
            {% if uses_gpg %}
{% blocktrans %}<strong>Warning:</strong> Previously configured GPG keys will not be used
for sending this email. Add a key here if you want to continue using GPG.
Any existing GPG keys will be removed once you confirm this change.{% endblocktrans %}
            {% else %}
{% blocktrans %}<strong>Warning:</strong> If you ever loose your GPG key and do not upload
a new one here, you can no longer read any emails (e.g. when you have
forgotten your password) we send to you.{% endblocktrans %}
            {% endif %}
            </div>

        </p></div>
    </div></div>

    {{ form.gpg_key.formgroup }}
    <div class="row"><div class="col-sm-10 col-sm-offset-2"><p><strong>{% trans "- and/or -" %}</strong></p></div></div>
    {{ form.gpg_fingerprint.formgroup }}
</div>
