{% load i18n static blog %}
<h2>{% trans "Where to go from here" %}</h2>

{% url 'core:contact' as contact_url %}
{% url 'conversejs:main' as chat_url %}
<ul>
    <li>{% blocktrans with host=site.NAME%}You need a client to connect to {{ host }}:{% endblocktrans %}
        {% if CLIENTS_URL or WEBCHAT %}<ul>
            {% if WEBCHAT %}<li>{% blocktrans %}You can connect via <a href="{{ chat_url }}">our Webchat</a>.{% endblocktrans %}</li>{% endif %}
            {% if CLIENTS_URL %}<li>{% blocktrans %}We have <a href="{{ CLIENTS_URL }}">some recommendations</a> for clients to install on your computer or mobile device.{% endblocktrans %}</li>{% endif %}
        </ul>{% endif %}
    </li>

    {% if FAQ_URL %}
    <li>{% blocktrans %}Frequently answered questions are answered in our <a
href="{{ FAQ_URL }}">FAQs</a>.{% endblocktrans %}</li>
    {% endif %}
    <li>{% blocktrans with host=site.NAME %}For updates about {{ host }}, follow us via{% endblocktrans %}
        <ul class="list-inline">
            {% if TWITTER_HANDLE %}
            <li>
                <a href="https://twitter.com/{{ TWITTER_HANDLE }}">
                    <img src="{% static "core/img/smtw.svg" %}" class="bullet">@{{ TWITTER_HANDLE }}</a>
            </li>
            {% endif %}
            {% if FACEBOOK_PAGE %}
            <li>
                <a href="https://facebook.com/{{ FACEBOOK_PAGE }}">
                    <img src="{% static "core/img/629hwmjt.svg" %}" class="bullet">/{{ FACEBOOK_PAGE }}</a>
            </li>
            {% endif %}
            <li><a href="{% url "feed:rss2" language=LANGUAGE_CODE %}">
                    <img src="{% static "core/img/rss.svg" %}" class="bullet">RSS feed</a></li>
            <li><a href="{% url "feed:atom" language=LANGUAGE_CODE %}">
                    <img src="{% static "core/img/rss.svg" %}" class="bullet">Atom feed</a>
            </li>
        </ul>
    </li>
    <li>{% blocktrans %}Any further questions? <a href="{{ contact_url }}">Contact us!</a>{% endblocktrans %}</li>
</ul>
