body {
    padding-top: 70px;
}

form .form-group.has-error ul.errorlist {
    color: #a94442; /* same color as has-error */
}
form .form-group.has-success ul.errorlist {
    /** 
     * ul.errorlist should only be present if the form was submitted and the
     * field had some errors, in which case the parent div.form-group should also
     * have a "has-error" class. Some field/widget-related Javascript might change
     * the class to has-success, in which case we want to hide the error list.
     *
     * Note that this might be a little confusing if the javascript does not validate
     * the same things as server-side validation (which triggered the presence
     * of the errorlist) does.
     */
    display: none;
}
