{% load i18n %}<!DOCTYPE HTML>
<html><head><title>{{ subject }}</title></head><body>
<p>{% blocktrans with jid=jid %}Dear {{ jid }},{% endblocktrans %}</p>

<p>{% blocktrans with jid=jid uri=uri %}You have registered the account {{ jid }} with this email address.
To complete your registration, please <a href="{{ uri }}">click here</a>
and provide a password for your new account.{% endblocktrans %}</p>

<p>{% blocktrans %}If you haven't registered for an account, you can simply disregard this
Email.{% endblocktrans %}</p>

<p>{% blocktrans %}greetings, {{ domain }}{% endblocktrans %}</p>
</body></html>
