{% load i18n %}<!DOCTYPE HTML>
<html><head><title>{{ subject }}</title></head><body>
<p>{% blocktrans with jid=jid %}Dear {{ jid }},{% endblocktrans %}</p>

<p>{% blocktrans with jid=jid uri=uri %}You requested to change the password for your Jabber account {{ jid }}.
To complete the change, please <a href="{{ uri }}">click here</a>.{% endblocktrans %}</p>

<p>{% trans "If you haven't made this change, simply disregard this email." %}</p>


<p>{% blocktrans %}greetings, {{ domain }}{% endblocktrans %}</p>
</body></html>
