.gpg-header-row h4 .icon-unfolded,
.gpg-header-row.show-gpg h4 .icon-folded {
    display: none;
}
.gpg-header-row.show-gpg h4 .icon-unfolded {
    display: inline-block;
}
.gpg-header-row {
    cursor: pointer;
}
