.gpg-header-row h4 .fa-angle-down {
    display: none;
}
.gpg-header-row.show-gpg h4 .fa-angle-right {
    display: none;
}
.gpg-header-row.show-gpg h4 .fa-angle-down {
    display: inline-block;
}
.gpg-header-row {
    cursor: pointer;
}
