{% load i18n staticfiles mptt_tags %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>

    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    {{ form.media }}

<body{% block body-attrs %} role="document"{% endblock body-attrs %}>
{% block body %}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bootstrap theme</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% recursetree menuitems %}
            {% if node.is_leaf_node %}
            <li><a href="{{ node.target.href }}">{{ node.title.current }}</a></li>
            {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title.current }}<span class="caret"></span></a>
                <ul class="dropdown-menu">{{ children }}</ul>
            </li>
            {% endif %}
        {% endrecursetree %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="{% url "account:detail" %}">{% trans "Account" %}</a></li>
        <li><a href="{% url "account:logout" %}?next={{ request.path }}">{% trans "Logout" %}</a></li>
        {% else %}
        <li><a href="{% url "account:register" %}">{% trans "Register" %}</a></li>
        <li><a href="{% url "account:login" %}?next={{ request.path }}">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" role="main">
{% block content %}{% endblock content %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'lib/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock body %}
