{% load i18n staticfiles mptt_tags canonical %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.BRAND }} - {% block title %}{% endblock title %}</title>

    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/prism/prism.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/base.css' %}" rel="stylesheet">
    {% block extracss %}{% endblock extracss %}
    {{ form.media.css }}

    {% comment %}Favicons from http://www.favicomatic.com/, yeah thats insane.{% endcomment %}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "favicon/apple-touch-icon-57x57.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "favicon/apple-touch-icon-114x114.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "favicon/apple-touch-icon-72x72.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "favicon/apple-touch-icon-144x144.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static "favicon/apple-touch-icon-60x60.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "favicon/apple-touch-icon-120x120.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static "favicon/apple-touch-icon-76x76.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static "favicon/apple-touch-icon-152x152.png" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-196x196.png" sizes="196x196" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-96x96.png" sizes="96x96" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-32x32.png" sizes="32x32" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-16x16.png" sizes="16x16" %}" />
    <link rel="icon" type="image/png" href="{% static "favicon/favicon-128.png" sizes="128x128" %}" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static "favicon/mstile-144x144.png" %}" />
    <meta name="msapplication-square70x70logo" content="{% static "favicon/mstile-70x70.png" %}" />
    <meta name="msapplication-square150x150logo" content="{% static "favicon/mstile-150x150.png" %}" />
    <meta name="msapplication-wide310x150logo" content="{% static "favicon/mstile-310x150.png" %}" />
    <meta name="msapplication-square310x310logo" content="{% static "favicon/mstile-310x310.png" %}" />

    {% get_current_language as LANGUAGE_CODE %}
    <link rel="alternate" type="application/rss+xml" title="{% blocktrans with brand=request.site.BRAND %}{{ brand }} - Recent updates (RSS feed){% endblocktrans %}" href="{% canonical "feed:rss2" language=LANGUAGE_CODE %}">
    <link rel="alternate" type="application/atom+xml" title="{% blocktrans with brand=request.site.BRAND %}{{ brand }} - Recent updates (Atom feed){% endblocktrans %}" href="{% canonical "feed:atom" language=LANGUAGE_CODE %}">

    <meta name="captcha-refresh-url" content="{% url 'captcha-refresh' %}">
    <meta name="account:api-check-user" content="{% url 'account:api-check-user' %}">

    {% include "core/include/metadata.html" %}
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body>
{% block body %}
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "blog:home" %}">{{ site.BRAND }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% recursetree menuitems %}
            {% if node.is_leaf_node %}
            <li><a href="{{ node.target.href }}">{{ node.title.current }}</a></li>
            {% else %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title.current }}<span class="caret"></span></a>
                <ul class="dropdown-menu">{{ children }}</ul>
            </li>
            {% endif %}
        {% endrecursetree %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="{% url "account:detail" %}">{% trans "Account" %}</a></li>
        <li><a href="{% url "account:logout" %}?next={{ request.path }}">{% trans "Logout" %}</a></li>
        {% else %}
        <li><a href="{% url "account:register" %}">{% trans "Register" %}</a></li>
        <li><a href="{% url "account:login" %}?next={{ request.path }}">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" role="main">
    <div class="row">{% block page %}{% endblock page %}</div>
</div>

<footer class="footer">
{% block footer %}
    <div class="container">
        <p class="text-muted">{{ COPYRIGHT_NOTICE }}</p>
<p class="text-muted">{% blocktrans %}This homepage is Free Software, you can find the source 
<a href="https://github.com/jabber-at/hp">on github</a>.{% endblocktrans %}
       </p>
    </div>
{% endblock footer %}
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'lib/jquery/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'lib/prism/prism.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/base.js' %}"></script>
{% block extrajs %}{% endblock extrajs %}
{{ form.media.js }}
{% endblock body %}
</body></html>
