{% extends "page.html" %}
{% load i18n staticfiles canonical %}

{% block head %}{{ block.super }}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock head %}

{% block title %}{% trans "Free Jabber/XMPP server" %}{% endblock title %}

{% block content %}

{% with summary=True %}
    {% for post in object_list %}
        {% include "blog/include/blogpost.html" %}
    {% endfor %}
{% endwith %}

{% if is_paginated %}
<nav aria-label="{% trans "Pager" %}">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" ref="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
    {% endif %}
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% if paginator.num_pages < 13 %}
        {% for pagenumber in paginator.page_range %}
        <li class="page-item {% if pagenumber == page_obj.number %} active{% endif %}">
            <a class="page-link" href="{{ request.path }}?page={{ pagenumber }}">{{ pagenumber }}</a>
        </li>
        {% endfor %}
    {% else %}
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Next">
    {% endif %}
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>{% endif %}


{% endblock content %}
