.form-group.fg_captcha img.captcha {
    display: block;
    padding-bottom: 3px;
}

.form-group.fg_captcha a.captcha-refresh {
    white-space: nowrap;
    cursor: pointer;
}

div.fg_captcha.was-validated.invalid-invalid  div.invalid-feedback.invalid-invalid,
div.fg_captcha.was-validated.invalid-required  div.invalid-feedback.invalid-required
{
    display: block;
}
