table#clients-table th,
table#clients-table td.xep
{
    text-align: center;
    vertical-align: middle;
}
table#clients-table th.two-rows {
    vertical-align: bottom;
}

.alert.client-contact {
    margin-top: 15px;
}

body {
    counter-reset: footnotecounter;
}

span.footnote:before {
  counter-increment: footnotecounter;
  content: counter(footnotecounter);
  position: relative;
  top: -0.4em;
    font-size: smaller;
}

