table#clients-table {
    font-size: smaller;
}
table#clients-table th,
table#clients-table td.xep
{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
table#clients-table th.two-rows {
    vertical-align: bottom;
}

.alert.client-contact {
    margin-top: 15px;
}
